body {
  margin-top: 150px;
  background-color: teal;
  text-align: center;
}
h1 {
  color: white;
  display: inline-block;
  width: 150px;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}
button{
  font-size: 20px;
  padding: 20px 40px;
}